<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @reviews2.content %>
</p>

<p>
  <strong>Restaurant2s:</strong>
  <%= @reviews2.restaurant2s_id %>
</p>

<%= link_to 'Edit', edit_reviews2_path(@reviews2) %> |
<%= link_to 'Back', reviews2s_path %>
